<footer>
    <a matTooltip="LinkedIn" href="https://www.linkedin.com/in/alext07" aria-label="LinkedIn Link" target="_blank">
        <i style="color: black;" class="fa-brands fa-linkedin fa-lg"></i>
    </a>
    <a matTooltip="GitHub" href="https://www.forbes.com/" aria-label="GitHub" target="_blank">
        <i style="color: black;" class="fa-brands fa-square-github fa-lg"></i>
    </a>
    <a matTooltip="Email" href="mailto:alexdarui@gmail.com" aria-label="Email" target="_blank">
        <i style="color: black;" class="fa-solid fa-square-envelope fa-lg"></i>
    </a>
</footer>