.total-block-card-text span:nth-child(1){
    font-weight: 400;
    font-size: 24px;
    color: #2b2b2b;
}

.total-block-card-text span:nth-child(2){
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #686868;
}

.total-block-card i {
   margin-right: 10px;
   width: 60px;
   height: 60px;
   border-radius: 50%!important;
   --bs-bg-opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}